.product-details {
  padding-right: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.product-details h3 {
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
}

.product-details h2 {
  font-size: 4rem;
}

.product-details p {
  margin-top: 1.2rem;
  color: var(--dark-grayish-blue);
  line-height: 28px;
  font-size: 1.4rem;
}

.product-price {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

.price {
  font-size: 2.4rem;
  font-weight: 700;
}

.discount {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--orange);
  background-color: hsla(26, 100%, 55%, 0.2);
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}

.original-price {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grayish-blue);
  text-decoration: line-through;
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.counter {
  background-color: hsl(0, 0%, 94%);
  border-radius: 4px;
  margin: 1.2rem 0;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.counter span {
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.counter button {
  position: relative;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 2.5rem;
}

.counter button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.counter button:hover svg {
  fill: hsla(26, 100%, 55%, 0.589);
}

.add-to-cart-button {
  border: 0;
  flex-grow: 1;
  background-color: var(--orange);
  padding: 1.6rem;
  color: white;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.4rem;
  font-family: inherit;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.add-to-cart-button:hover {
  background-color: hsla(26, 100%, 55%, 0.8);
}

.add-to-cart-button:active {
  background-color: var(--orange);
  box-shadow: none;
}

.cart-icon {
  fill: white;
  width: 1.6rem;
  height: 1.4rem;
  margin-right: 0.8rem;
}

@media only screen and (max-width: 60.5em) {
  .product-details h2 {
    font-size: 3rem;
  }

  .product-details p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 44em) {
  .product-details {
    padding: 4rem;
    padding-top: 0;
  }
}
